USDA_API_KEY=YRboKJAYm057fd1P0Us9beH302V3NEOYkI5bTMKh
REDIS_URL=redis://localhost:6379
DATABASE_URL=sqlite:///./nutrisync.db
JWT_SECRET=nutrisync_jwt_secret_2024
MOCK_CV_MODE=false
FRONTEND_ORIGIN=http://localhost:5173
